.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}
.card {
    width: 15%;
    max-width: 200px;
}
